/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts */
@layer base{
  @font-face{
    font-family: 'Comic';
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Comic/comic.ttf') format('truetype'), url('/fonts/Comic/comic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face{
    font-family: 'Comic';
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Comic/comici.ttf') format('truetype'), url('/fonts/Comic/comici.woff2') format('woff2');
    font-weight:400;
    font-style: italic;
  }

  @font-face{
    font-family: 'Comic';
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Comic/comicz.ttf') format('truetype'), url('/fonts/Comic/comicz.woff2') format('woff2');
    font-weight:600;
    font-style: italic;
  }

  @font-face{
    font-family: 'Comic';
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Comic/comicbd.ttf') format('truetype'), url('/fonts/Comic/comicbd.woff2') format('woff2');
    font-weight:700;
    font-style: normal;
  }

  @font-face{
    font-family: 'Comic';
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Comic/comicbi.ttf') format('truetype'), url('/fonts/Comic/comicbi.woff2') format('woff2');
    font-weight:700;
    font-style: italic;
  }


  @font-face{
    font-family: 'Wicked-Mouse';
    font-display: swap;
    font-style: normal;
    src: url('/fonts/WickedMouse/wicked-mouse.ttf') format('truetype'), url('/fonts/WickedMouse/wicked-mouse.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  .font-wicked-outline{
    font-family: 'Wicked-Mouse', cursive, sans-serif;
    font-weight:700;
    @apply text-white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .font-wicked-fill{
    font-family: 'Wicked-Mouse', cursive, sans-serif;
    font-weight:700;
    @apply text-black;
  }

  .font-comic-regular-fill{
    font-family: 'Comic', cursive, sans-serif;
    font-weight:400;
    @apply text-black;
  }

  .font-comic-bold-fill{
    font-family: 'Comic', cursive, sans-serif;
    font-weight:700;
    @apply text-black;
  }
  
  html {
    @apply scroll-smooth;
  }
  html, body{
    @apply overflow-x-hidden;
  }
}