/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts */
@layer base{
  @font-face{
    font-family: 'Comic';
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Comic/comic.ttf') format('truetype'), url('/fonts/Comic/comic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face{
    font-family: 'Comic';
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Comic/comici.ttf') format('truetype'), url('/fonts/Comic/comici.woff2') format('woff2');
    font-weight:400;
    font-style: italic;
  }

  @font-face{
    font-family: 'Comic';
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Comic/comicbd.ttf') format('truetype'), url('/fonts/Comic/comicbd.woff2') format('woff2');
    font-weight:700;
    font-style: normal;
  }

  @font-face{
    font-family: 'Comic';
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Comic/comicbi.ttf') format('truetype'), url('/fonts/Comic/comicbi.woff2') format('woff2');
    font-weight:700;
    font-style: italic;
  }

  @font-face{
    font-family: 'Snacker';
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Snacker/snacker.ttf') format('truetype'), url('/fonts/Snacker/snacker.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face{
    font-family: 'Young';
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Young/young.ttf') format('truetype'), url('/fonts/Young/young.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  .font-outline{
    font-family: 'Comic', cursive, sans-serif;
    font-weight:700;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}